body{
    font-size: 67.5%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;;
    font-family: sans-serif;
    background-color: #e3f2fd;
}

.titulo{
    font-size: 3.2rem;
    text-align: center;
}

.hospital{
    padding: 1rem;
    background-color: rgb(241, 237, 231);
    border-left: 1rem solid;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 80vw;
    
}

.hospitais-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.verde{
    border-color: green;
    background-color: #E8F5E9; 

}

.amarelo{
    border-color: yellow;
    background-color: #FFF8E1;

}

.vermelho{
    border-color: red;
    background-color: #FFEBEE; 

}

.hero-banner{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.menu-nav{
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    list-style-type: none;
}

.menu-nav li a{
    text-decoration: none;
}

.main-title{
    text-align: center;
    font-size: 2.8rem;
}

.subtitle{
    text-align:left;
    font-size: 2rem;
    margin-left: 3rem;

}

.campanha-dengue{
    font-size: 1.6rem;
    width: 80%;
    letter-spacing: .1rem;
    line-height: 2.2rem;
    margin-left: 3rem;

}